<div class="col-md-6 col-md-offset-3">
  <%= form_for([@user], :html => {:class => "form"}) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group" >
      <%= f.label :major %>
      <%= f.collection_select :major_id, Major.all, :id, :name, {}, {:class => "form-control"} %>
    </div>

    <div class="form-group" >
      <%= f.label :minor %>
      <%= f.collection_select :minor_id, Major.all, :id, :name, {}, {:class => "form-control"} %>
    </div>

    <%= f.submit "Save", :class => "btn btn-default" %>
    <%#= link_to "Delete", transaction_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger pull-right" %>        
  <% end %>

</div>

