// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
    /*color: #a4a3a7;*/
    color: #5e5d60;
    font-size: 15px;

}

a:hover{
    color: #a4a3a7;
    text-decoration: none;
}

span.glyphicon-plus {
    /*font-size: .7em;*/
    color: #a0b222;
    margin-right: 3px;
}