// Place all the styles related to the DegreeProgressions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course:hover {
    background-color: #efefef;
}

.course p {
    color: #5e5d60;
}

/*span.label-success {
    background-color: none;
}*/

span.glyphicon-ok {
    /*font-size: .7em;*/
    color: #a0b222;
    /*margin-right: 3px;*/
}