<h1>Appointments</h1>

<table class="table table-striped">

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= link_to appointment.advisor.first_name, user_path(appointment.advisor) %></td>
        <td><%= appointment.start_time.to_date %> at <%= appointment.start_time.to_s(:time) %></td>
        <% if appointment.note.nil? %>
          <td><em>No notes yet!</em></td>
        <% else %>
          <td><%= link_to "Notes", appointment_note_path(:appointment_id => appointment.id, :id => appointment.note.id) %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
<%= link_to 'New Appointment', new_user_appointment_path %>
